ePubApp/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2452/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2452/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2452/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceePubCloud" />
      <xsd:import schemaLocation="http://localhost:2452/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEbook_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEbook" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEbook_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEbookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChapter" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChapterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBookmark_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookmark" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBookmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChapterExists_InputMessage">
    <wsdl:part name="parameters" element="tns:ChapterExists" />
  </wsdl:message>
  <wsdl:message name="IService1_ChapterExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChapterExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EbookExists_InputMessage">
    <wsdl:part name="parameters" element="tns:EbookExists" />
  </wsdl:message>
  <wsdl:message name="IService1_EbookExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:EbookExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookmarkExists_InputMessage">
    <wsdl:part name="parameters" element="tns:BookmarkExists" />
  </wsdl:message>
  <wsdl:message name="IService1_BookmarkExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookmarkExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateFavorite_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFavorite" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateFavorite_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFavoriteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateUser" message="tns:IService1_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateUserResponse" message="tns:IService1_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserExists" message="tns:IService1_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserExistsResponse" message="tns:IService1_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEbook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEbook" message="tns:IService1_CreateEbook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEbookResponse" message="tns:IService1_CreateEbook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateChapter" message="tns:IService1_CreateChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateChapterResponse" message="tns:IService1_CreateChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBookmark">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBookmark" message="tns:IService1_CreateBookmark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBookmarkResponse" message="tns:IService1_CreateBookmark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChapterExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChapterExists" message="tns:IService1_ChapterExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChapterExistsResponse" message="tns:IService1_ChapterExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EbookExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EbookExists" message="tns:IService1_EbookExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EbookExistsResponse" message="tns:IService1_EbookExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookmarkExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookmarkExists" message="tns:IService1_BookmarkExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookmarkExistsResponse" message="tns:IService1_BookmarkExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFavorite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateFavorite" message="tns:IService1_CreateFavorite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateFavoriteResponse" message="tns:IService1_CreateFavorite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/IService1/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEbook">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChapter">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBookmark">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBookmark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChapterExists">
      <soap:operation soapAction="http://tempuri.org/IService1/ChapterExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EbookExists">
      <soap:operation soapAction="http://tempuri.org/IService1/EbookExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookmarkExists">
      <soap:operation soapAction="http://tempuri.org/IService1/BookmarkExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFavorite">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateFavorite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2452/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>