ePubApp/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceePubCloud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceePubCloud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastChapterRead" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastEBookRead" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastLogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWeb" nillable="true" type="tns:UserWeb" />
  <xs:complexType name="ArrayOfDateStatisticsWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DateStatisticsWeb" nillable="true" type="tns:DateStatisticsWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDateStatisticsWeb" nillable="true" type="tns:ArrayOfDateStatisticsWeb" />
  <xs:complexType name="DateStatisticsWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acess" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateStatisticsWeb" nillable="true" type="tns:DateStatisticsWeb" />
  <xs:complexType name="ArrayOfEBooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBooks" nillable="true" type="tns:EBooks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBooks" nillable="true" type="tns:ArrayOfEBooks" />
  <xs:complexType name="EBooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="EBookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EbookID" type="xs:int" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBooks" nillable="true" type="tns:EBooks" />
  <xs:complexType name="ArrayOfChapters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chapters" nillable="true" type="tns:Chapters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChapters" nillable="true" type="tns:ArrayOfChapters" />
  <xs:complexType name="Chapters">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChapterID" type="xs:int" />
      <xs:element minOccurs="0" name="ChapterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChapterNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="EBookID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chapters" nillable="true" type="tns:Chapters" />
</xs:schema>