Projecto_IS/XMLFile_projecto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ePub" type="ePubType"/>
  
  <xs:complexType name="ePubType">
    <xs:sequence>
      <xs:element name="user" type="userType"/>
      <xs:sequence>
        <xs:element name="book" type="eBookType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element name="favorites" type="favoriteType" maxOccurs="unbounded"/>
      </xs:sequence>
        <xs:element name="bookmark" type="bookmarkType" maxOccurs="unbounded"/>
      <xs:sequence>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="username">
        <xs:simpleType>
          <xs:restriction	base="xs:string">
            <xs:pattern	value="[a-zA-Z0-9]"/>
            <xs:minLength value="4" />
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="password">
        <xs:simpleType>
          <xs:restriction	base="xs:string">
            <xs:minLength value="8" />
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction	base="xs:string">
            <xs:minLength value="4" />
            <xs:maxLength value="36" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="email">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[^.@]+.?[^@]+@{1}[^\.@]+\..+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="birthdate">
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:minInclusive value="1910-01-01"/>
            <xs:maxInclusive value="2000-01-01"/>
            <xs:pattern value=".{10}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastlogin" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eBookType" >
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="publisher" type="xs:string"/>
      <xs:element name="subject" type="xs:string"/>
      <xs:element name="chapters" type="chaptertype"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chaptertype">
    <xs:sequence>
      <xs:element name="number" type="xs:integer"/>
      <xs:element name="chaptertitle" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookmarkType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="book" type="xs:string"/>
      <xs:element name="chapter" type="chaptertype"/>
      <xs:element name="dataMarcacao" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="favoriteType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="book" type="xs:string"/>
      <xs:element name="chapter" type="chaptertype"/>
      <xs:element name="dataMarcacao" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>